@using System.Data;
@using WebApplication4.Models;
@model AddAccountViewModel;

@{
    ViewData["Title"] = "Added View";
}
    
<div class="text-center">
    <h1 class="display-4">Account Added Succesfully</h1>
</div>